@model DbMasterD.Models.ViewModels.CandidateVM
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div class="row d-flex justify-content-between">
                <div class="col-6">
                    <h4 class="display-5">Edit Candidate</h4>
                    <input asp-for="CandidateId" type="hidden" />
                    <input asp-for="Image" type="hidden" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CandidateName" class="control-label"></label>
                        <input asp-for="CandidateName" class="form-control form-control-sm" />
                        <span asp-validation-for="CandidateName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" class="form-control form-control-sm" type="date" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control form-control-sm" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImagePath" class="control-label"></label>
                        <input asp-for="ImagePath" class="form-control form-control-sm" type="file" />
                        <img src="@Model.Image" width="35" class="rounded-circle" />
                        <span asp-validation-for="ImagePath" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Fresher" /> @Html.DisplayNameFor(model => model.Fresher)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-6">
                    <h4 class="display-5">Add Skills</h4>
                    <div class="d-flex justify-content-end">
                        <a id="btnPlus" class="btn btn-primary btn-sm mb-2">Add More</a>
                    </div>
                    <div id="skillContainer">
                        @foreach (var item in Model.SkillList)
                        {
                            <script>
                                LoadData(@item);
                            </script>
                        }

                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



